<!-- -*- xml -*- -->
<launch>
    <group ns="robot">
        <node name="qualLine" pkg="navi2" type="qualLine">
            <remap from="output" to="goal"/>
        </node>

        <node name="woah" pkg="woah_scheme" type="woah_scheme" output="screen">
            <remap from="path" to="FilteredLocalPath"/>
            <remap from="base_scan" to="base_scan"/>
        </node>
    </group>
</launch>

<!-- launch-prefix="xterm -e gdb - -args" -->
