<!-- -*- xml -*- -->
<launch>
    <group ns="robot">
        <group ns="robot">
        <node name="qualWps" pkg="navi2" type="qualWps" args="$(find navi2)/qual.wps" output="screen">
            <remap from="output" to="goal"/>
        </node>

        <node name="woah" pkg="woah_scheme" type="woah_scheme" output="screen" launch-prefix="xterm -e">
            <remap from="path" to="FilteredLocalPath"/>
            <remap from="base_scan" to="base_scan"/>
        </node>
    </group>
</launch>

<!-- launch-prefix="xterm -e gdb - -args" -->