<!-- -*- xml -*- -->
<launch>
    <group ns="robot">
        <!-- segment -->
        <node name="c_lines" pkg="kec_line" type="c_lines" required="true" />

        <!-- bird's eye -->
        <node name="bird_xform" pkg="bird" type="bird_xform" required="true" />

        <!--raycast-->
        <node name="raycast" pkg="kec_line" type="raycast" required="true" />
    </group>
</launch>
